.NavbarItem {
  display: flex;
  padding: 2rem 0;
}

.NavbarItem li {
  list-style: none;
}

.NavbarItem a {
  margin: 0 2rem;
  font-size: 25px;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 50px;
  background: #c0c0c0;
  box-shadow: 20px 20px 60px #a3a3a3, -20px -20px 60px #dddddd;
}

.NavbarItem a:hover,
.NavbarItem a:active {
  box-shadow: inset 20px 20px 60px #a3a3a3, inset -20px -20px 60px #dddddd;
}
